/* ==========================================================================

   Ultimate Flat - Bootstrap On Page Template
   CSS STYLE GREEN

   ========================================================================== */
#header,
#image,
#video,
#newsletter {
  background-color: #e84e1b;
}
#social {
  background-color: #f4a792;
}
.social-icon {
  background-color: #c93a17;
  color: #ffffff;
}
.text-white {
  color: #ffffff;
}
.text-blue {
  color: #0d2338;
}
#feature .item-icon {
  border: 2px solid #0d2338;
}
/*----------------------------------------
    SIDE MENU
----------------------------------------*/
#sidebar-wrapper {
  background: #c93a17;
}
.sidebar-nav li a {
  color: #ffffff;
}
.sidebar-nav li a:hover {
  color: #444444;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav > .sidebar-brand a {
  color: #ffffff;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #444444;
}
.toggle {
  color: #581b0c;
}
/*----------------------------------------
    CUSTOM BUTTON
----------------------------------------*/
.btn-lead {
  color: #ffffff;
  background-color: #ea7a5b;
  border-color: #ea7a5b;
  transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
}
.btn-lead:hover,
.btn-lead:focus,
.btn-lead:active,
.btn-lead.active,
.open .dropdown-toggle.btn-lead {
  color: #ffffff;
  background-color: #bc2f17;
  border-color: #bc2f17;
}
.btn-lead:active,
.btn-lead.active,
.open .dropdown-toggle.btn-lead {
  background-image: none;
}
.btn-lead.disabled,
.btn-lead[disabled],
fieldset[disabled] .btn-lead,
.btn-lead.disabled:hover,
.btn-lead[disabled]:hover,
fieldset[disabled] .btn-lead:hover,
.btn-lead.disabled:focus,
.btn-lead[disabled]:focus,
fieldset[disabled] .btn-lead:focus,
.btn-lead.disabled:active,
.btn-lead[disabled]:active,
fieldset[disabled] .btn-lead:active,
.btn-lead.disabled.active,
.btn-lead[disabled].active,
fieldset[disabled] .btn-lead.active {
  background-color: #ea7a5b;
  border-color: #ea7a5b;
}
.btn-lead .badge {
  color: #ea7a5b;
  background-color: #ffffff;
}
.btn-link:hover {
  color: #bc2f17 !important;
}
