<div ng-controller="ImdbController">
<div class="navbar-outer"
     style="max-width:700px; text-align: center; float:none; margin-left: auto; margin-right: auto">

    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img style="width:50px; height:auto; text-align: center;" src="images/imdb.png">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control smallW" ng-model="query"
                               placeholder="Search title or year...">
                    </div>

                </form>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="radio" class="btn btn-default" ng-click="type=true">Movies</button>
                        <button type="radio" class="btn btn-default" ng-click="type=false">Shows</button>
                    </div>

                </form>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="list-group">
    <div ng-show="type">
        <h5>Genre: {{categoryMovies}} <a href="" style="text-decoration: none"
                                         ng-click="categoryMovies='Any'"><span
                style="margin-bottom: -5px;" class="glyphicon glyphicon-remove-circle"
                aria-hidden="true"></span></a></h5>
        <br>

        <div ng-repeat="post in genresMovies" style="display: inline-block;">
            <button style="margin-bottom: 5px;" type="radio" class="btn btn-default" ng-click="$parent.categoryMovies=post.Genre">{{post.Genre}}</button>&nbsp;
        </div>
        <br>
        <br>

        <div ng-repeat="post in filteredPostsMovies = (movies | filter:search | filter:customFilterMovies)"
             class="aligned height repeated-item">
                <span ng-switch="" on="$index % 3">
                            <div class="row" ng-switch-when="0">
                                <div class="col-sm-4" ng-if="filteredPostsMovies[(filteredPostsMovies.indexOf(post))].url">
                                    <a target="_blank" ng-href="{{filteredPostsMovies[(filteredPostsMovies.indexOf(post))].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{filteredPostsMovies[(filteredPostsMovies.indexOf(post))].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 1}}. </b>{{filteredPostsMovies[(filteredPostsMovies.indexOf(post))].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{filteredPostsMovies[(filteredPostsMovies.indexOf(post))].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>
                                        {{filteredPostsMovies[(filteredPostsMovies.indexOf(post))].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4" ng-if="filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 1)].url">
                                    <a target="_blank" ng-href="{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 1)].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 1)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 2}}. </b>{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) +
                                        1)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 1)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i> {{filteredPostsMovies[(filteredPostsMovies.indexOf(post)
                                        + 1)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4" ng-if="filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 2)].url">
                                    <a target="_blank" ng-href="{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 2) ].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 2)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 3}}. </b>{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) +
                                        2)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{filteredPostsMovies[(filteredPostsMovies.indexOf(post) + 2)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i> {{filteredPostsMovies[(filteredPostsMovies.indexOf(post)
                                        + 2)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                            </div>
                    </span>
        </div>
    </div>
    <div ng-show="!type">

        <h5>Genre: {{categoryShows}} <a href="" style="text-decoration: none"
                                        ng-click="categoryShows='Any'"><span style="margin-bottom: -5px;"
                                                                             class="glyphicon glyphicon-remove-circle"
                                                                             aria-hidden="true"></span></a>
        </h5>
        <br>
        <div ng-repeat="post in genresTv" style="display: inline-block;">
            <button style="margin-bottom: 5px;" type="radio" class="btn btn-default" ng-click="$parent.categoryShows=post.Genre">{{post.Genre}}</button>&nbsp;
        </div>
        <br>
        <br>
        <div ng-repeat="post in filteredPostsTvShows = (shows | filter:search | filter:customFilterShows)"
             class="aligned height repeated-item">
                <span ng-switch="" on="$index % 3">
                            <div class="row" ng-switch-when="0">
                                <div class="col-sm-4" ng-if="filteredPostsTvShows[(filteredPostsTvShows.indexOf(post))].url">
                                    <a target="_blank" ng-href="{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post))].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post))].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 1}}. </b>{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post))].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post))].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post))].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4" ng-if="filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 1)].url">
                                    <a target="_blank" ng-href="{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 1)].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 1)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 2}}. </b>{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) +
                                        1)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 1)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post)
                                        + 1)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4" ng-if="filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 2)].url">
                                    <a target="_blank" ng-href="{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 2) ].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 2)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 3}}. </b>{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) +
                                        2)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post) + 2)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>{{filteredPostsTvShows[(filteredPostsTvShows.indexOf(post)
                                        + 2)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                            </div>
                    </span>
            </div>
        </div>
</div>
</div>