<b>Mentioned in: </b>&nbsp;&nbsp;
<a href="http://gizmodo.com/youll-never-not-know-what-to-watch-on-netflix-again-1652563893"><img
        src="images/download.jpeg" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://www.avclub.com/article/handy-website-will-help-you-decide-what-watch-netf-211136"><img
        src="images/Avclub_logo.png" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://lifehacker.com/what-is-on-netflix-uses-rotten-tomatoes-and-imdb-to-he-1652775508"><img
        src="images/Lifehacker_Logo.png" style="height:25px; width:auto;" alt=“”></a>
<a href="http://mic.com/articles/102668/finally-the-perfect-website-to-help-you-pick-netflix-movies"><img
        src="images/mic.jpeg" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://coolmaterial.com/media/find-the-best-movies-to-stream-with-what-is-on-netflix/"><img
        src="images/cool.jpeg" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://www.slashgear.com/movie-watching-just-got-easier-with-what-is-on-netflix-31353334/"><img
        src="images/slash.jpeg" style="height:25px; width:auto;" alt=“”></a>
&nbsp;&nbsp;
<a href="http://uproxx.com/movies/2014/10/this-netflix-tool-might-save-you-time-the-next-time-youre-searching-for-a-movie/"><img
        src="images/uproxx.jpeg" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://www.idigitaltimes.com/want-best-netflix-movies-new-website-uses-imdb-and-rotten-tomatoes-so-you-dont-have-392310"><img
        src="images/digital.png" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://dailytekk.com/app/what-is-on-netflix/"><img src="images/dailytekk.png"
                                                            style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<a href="http://www.techhive.com/article/218797/netflix-power-tools.html"><img src="images/hive.png"
                                                                               style="height:25px; width:auto;"
                                                                               alt=“”></a>&nbsp;&nbsp;
<a href="http://www.cnet.com/how-to/four-netflix-tips-and-tricks-to-improve-your-viewing-experience/"><img
        src="images/cnet.png" style="height:25px; width:auto;" alt=“”></a>&nbsp;&nbsp;
<br><br>
<a href="https://play.google.com/store/apps/details?id=com.wionflix.Wioflix" target="_blank">
    <img alt="Get it on Google Play"
         src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png"/>
</a>
<a href="https://itunes.apple.com/us/app/wioflix/id957204575?mt=8&ign-mpt=uo%3D4" target="_blank">
    <img class="right"
         src="images/Download_on_the_App_Store_Badge_US-UK_135x40.svg" width="140" height="70" alt="">
</a>