<div style="display: inline-block;">
<h3><a id="topRandom" href="" style="text-decoration: none !important;"
       ng-click="rt=false; imdb = true; meta=false; all= false;"><span class="label label-warning"
                                                                       style="margin-right: 5px !important; margin-top:5px !important;">IMDB</span></a>
    <a href="" style="text-decoration: none !important;"
       ng-click="rt=true; imdb = false; meta=false; all= false;"><span class="label label-danger"
                                                                       style="margin-right: 5px !important; margin-top:5px !important;">Rotten Tomatoes</span></a>
    <a href="" style="text-decoration: none !important;"
       ng-click="meta=true; rt = false; imdb=false; all= false;"><span class="label label-success"
                                                                       style="margin-right: 5px !important; margin-top:5px !important;">Metacritic</span></a>
    <a href="" style="text-decoration: none !important;"
       ng-click="all=true; rt = false; meta=false; imdb= false;"><span class="label label-info"
                                                                       style="margin-right: 5px !important; margin-top:5px !important;">All 3</span></a>
</h3>
<br>

<div ng-show="imdb || rt || meta || all">
<br>
    <span ng-show="imdb || all">&nbsp;&nbsp;<img style="width:100px; height:auto; text-align: center;"
                                                 src="../../images/imdb.png">&nbsp;&nbsp;</span>
    <span ng-show="meta || all">&nbsp;&nbsp;<img style="width:50px; height:auto; text-align: center;"
                                                 src="../../images/met.jpeg">&nbsp;&nbsp;</span>
    <span ng-show="rt || all">&nbsp;&nbsp;<img style="width:80px; height:auto; text-align: center;" src="../../images/rt.png">&nbsp;&nbsp;</span>
<br>

<div id="randomImdb" ng-if="imdb" ng-include="'views/partials/random/random-imdb.html'"></div>
<div id="randomMc" ng-if="mc" ng-include="'views/partials/random/random-mc.html'"></div>
<div id="randomRt" ng-if="rt" ng-include="'views/partials/random/random-rt.html'"></div>
<div id="randomAll" ng-if="all" ng-include="'views/partials/random/random-all.html'"></div>

</div>
</div>
<br>
<br>
<br>