<div class="panel panel-info">
<div class="panel-heading" style="text-align: center;">
    <h3 class="panel-title">Random Pick</h3>
</div>
<div class="panel-body" style="text-align: center;">

<div class="alignedDi">

<div class="btn-group">

    <br>


    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
        From <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" style="text-align: center;">
        <li><a href="" ng-click="imdb=true; rt = false; meta=false; all= false;">IMDB</a></li>
        <li><a href="" ng-click="rt=true; imdb = false; meta=false; all= false;">Rotten Tomatoes</a></li>
        <li><a href="" ng-click="meta=true; rt = false; imdb=false; all= false;">Metacritic</a></li>
        <li><a href="" ng-click="all=true; rt = false; meta=false; imdb= false;">Any</a></li>
    </ul>
</div>
<br>

<div ng-show="imdb || rt || meta || all">
<br>
    <span ng-show="imdb || all">&nbsp;&nbsp;<img style="width:100px; height:auto; text-align: center;"
                                                 src="images/imdb.png">&nbsp;&nbsp;</span>
    <span ng-show="meta || all">&nbsp;&nbsp;<img style="width:50px; height:auto; text-align: center;"
                                                 src="images/met.jpeg">&nbsp;&nbsp;</span>
<span ng-show="rt || all">&nbsp;&nbsp;<img style="width:80px; height:auto; text-align: center;" src="images/rt.png">&nbsp;&nbsp;</span>
<br>

<div ng-controller="PostsCtrlShuffleImdb" ng-show="imdb">
    <div class="btn-group">
        <br>
        <button id="ulImdb" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="text-align: center;">
            <li><a class="toClick" href="" role="button" ng-click="category='Any'; showImdb=true;"> <b>Any</b></a>
            </li>
            <br>

            <div ng-repeat="post in posts3">
                <li><a href="" ng-click="showImdb=true; $parent.category=post.Genre; shuffle();">
                    &nbsp;{{post.Genre}}</a>
                </li>
            </div>
        </ul>
    </div>
    <div ng-show="showImdb || category!='Any'">
        <br>
        <h5>{{category}}</h5>
        <br>
        Here's our pick for you:
        <br> <br>

        <div ng-repeat="post in filteredResults = (posts | filter:customFilter | limitTo: 1)">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.rating}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>
        <br>
        <button ng-click="shuffle()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
    </div>

</div>

<div ng-controller="PostsCtrlShuffleRt" ng-show="rt">
    <div class="btn-group">
        <br>
        <br>
        <button id="ulrt" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="text-align: center;">
            <li><a class="toClick" href="" role="button" ng-click="category='Any'; showRT=true; rat=true;">
                <b>Any</b></a></li>
            <br>

            <div ng-repeat="post in posts3">
                <li><a href="" ng-click="$parent.category=post.Genre; open(); shuffle()"> &nbsp;{{post.Genre}}</a>
                </li>
            </div>
        </ul>
        <br>

    </div>

    <div ng-show="rat || category!='Any'">
        <br>
        <h5>{{category}}</h5>
        <br>

        <div class="form-group">
            <button type="radio" class="btn btn-default" ng-click="rating=true">Tomatometer</button>
            <button type="radio" class="btn btn-default" ng-click="rating=false">Audience</button>
        </div>
    </div>

    <div ng-show="(showRT || category!='Any') && rating !='null'">
        Here's our pick for you:
        <br>
        <br>

        <div ng-repeat="post in posts | filter:customFilter | limitTo: 1" class="aligned height" ng-show="rating">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.rating}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>

        <div ng-repeat="post in posts2 | filter:customFilter | limitTo: 1" class="aligned height" ng-show="!rating">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.userRating}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>
        <br>
        <button ng-click="shuffle()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
    </div>

</div>

<div ng-controller="PostsCtrl3ShuffleMc" ng-show="meta">
    <div class="btn-group">
        <br>
        <button id="ulmeta" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="text-align: center;">
            <li><a class="toClick" href="" role="button" ng-click="category='Any'; showMeta=true; rat=true;">
                <b>Any</b></a></li>
            <br>

            <div ng-repeat="post in posts">
                <li><a href="" ng-click="$parent.category=post.Genre; open(); shuffle()"> &nbsp;{{post.Genre}}</a>
                </li>
            </div>
        </ul>
    </div>

    <div ng-show="rat || category!='Any'">
        <br>
        <h5>{{category}}</h5>
        <br>

        <div class="form-group">
            <button type="radio" class="btn btn-default" ng-click="rating=true">Metascore</button>
            <button type="radio" class="btn btn-default" ng-click="rating=false">User score</button>
        </div>
    </div>

    <div ng-show="(showMeta || category!='Any') && rating !='null'">
        Here's our pick for you:
        <br>
        <br>

        <div ng-repeat="post in posts2 | filter:customFilter | limitTo: 1" ng-show="rating">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.userScore}}{{post.metaScore}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>

        <div ng-repeat="post in posts3 | filter:customFilter | limitTo: 1" ng-show="!rating">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.userScore}}{{post.metaScore}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>
        <br>
        <button ng-click="shuffle()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
    </div>

</div>

<div ng-controller="PostsCtrlShuffleAll" ng-show="all">
    <div class="btn-group">
        <br>
        <button id="ulall" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="text-align: center;">
            <li><a class="toClick" href="" role="button" ng-click="category='Any'; showAll=true;"> <b>Any</b></a>
            </li>
            <br>

            <div ng-repeat="post in posts">
                <li><a href="" ng-click="$parent.category=post.Genre; open(); shuffle()"> &nbsp;{{post.Genre}}</a>
                </li>
            </div>
        </ul>
    </div>

    <div ng-show="showAll || category!='Any'">
        <br>
        <h5>{{category}}</h5>
        <br>
        <br>
        Here's our pick for you:
        <br>
        <br>

        <div ng-repeat="post in filteredResults = (posts2 | filter:customFilter | limitTo: 1)" class="animated">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                            <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o" style="color: orange"></i>
                                {{post.rating}}{{post.userScore}}{{post.metaScore}}{{post.userRating}}</h4>
                            <a ng-href="{{post.url}}" target="_blank">
                                <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                                </button>
                            </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>
        <br>
        <button ng-click="shuffle()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
    </div>

</div>


</div>


</div>
</div>
</div>
<br>
<br>
<br>