<div ng-controller="RtController"><br>

<div class="navbar-outer"
     style="max-width:700px; text-align: center; float:none; margin-left: auto; margin-right: auto">
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img style="width:50px; height:auto; text-align: center; margin-top:-10px;"
                         src="images/rt.png">
                </a>
            </div>
            <div id="navbar2" class="navbar-collapse collapse">
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="search" class="form-control smallW" ng-model="search"
                               placeholder="Search title or year...">
                    </div>
                </form>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <button type="radio" class="btn btn-default" ng-click="rating=true">Tomatometer</button>
                        <button type="radio" class="btn btn-default" ng-click="rating=false">Audience</button>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="list-group">
    <div class="alignedDi">
        <div ng-show="rating">
            <h5>Genre: {{categoryTomatometer}} <a href="" style="text-decoration: none"
                                                  ng-click="categoryTomatometer='Any'"><span
                    style="margin-bottom: -5px;" class="glyphicon glyphicon-remove-circle"
                    aria-hidden="true"></span></a></h5>
            <br>

            <div ng-repeat="post in genres" style="display: inline-block;">
                <h4><a href="" style="text-decoration: none !important;"
                       ng-click="$parent.categoryTomatometer=post.Genre"><span class="label label-default"
                                                                               style="margin-right: 5px !important; margin-top:5px !important;">{{post.Genre}}</span></a>
                </h4>
            </div>
            <br>
            <br>

            <div ng-repeat="post in criticRatings | filter:search | filter:customFilterTomatometer"
                 class="aligned height repeated-item">
                <span ng-switch="" on="$index % 3">
                            <div class="row" ng-switch-when="0">
                                <div class="col-sm-4" ng-if="criticRatings[(criticRatings.indexOf(post))].url">
                                    <a target="_blank" ng-href="{{criticRatings[(criticRatings.indexOf(post))].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{criticRatings[(criticRatings.indexOf(post))].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 1}}. </b>{{criticRatings[(criticRatings.indexOf(post))].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{criticRatings[(criticRatings.indexOf(post))].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>
                                        {{criticRatings[(criticRatings.indexOf(post))].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4" ng-if="criticRatings[(criticRatings.indexOf(post) + 1)].url">
                                    <a target="_blank" ng-href="{{criticRatings[(criticRatings.indexOf(post) + 1)].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{criticRatings[(criticRatings.indexOf(post) + 1)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 2}}. </b>{{criticRatings[(criticRatings.indexOf(post) +
                                        1)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{criticRatings[(criticRatings.indexOf(post) + 1)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i> {{criticRatings[(criticRatings.indexOf(post)
                                        + 1)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4" ng-if="criticRatings[(criticRatings.indexOf(post) + 2)].url">
                                    <a target="_blank" ng-href="{{criticRatings[(criticRatings.indexOf(post) + 2) ].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{criticRatings[(criticRatings.indexOf(post) + 2)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 3}}. </b>{{criticRatings[(criticRatings.indexOf(post) +
                                        2)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{criticRatings[(criticRatings.indexOf(post) + 2)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i> {{criticRatings[(criticRatings.indexOf(post)
                                        + 2)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                            </div>
                    </span>
            </div>
        </div>
        <div ng-show="!rating">
            <h5>Genre: {{categoryAudience}} <a href="" style="text-decoration: none"
                                               ng-click="categoryAudience='Any'"><span style="margin-bottom: -5px;"
                                                                                       class="glyphicon glyphicon-remove-circle"
                                                                                       aria-hidden="true"></span></a>
            </h5>
            <br>

            <div ng-repeat="post in genres" style="display: inline-block;">
                <h4><a href="" style="text-decoration: none !important;"
                       ng-click="$parent.categoryAudience=post.Genre"><span class="label label-default"
                                                                            style="margin-right: 5px !important; margin-top:5px !important;">{{post.Genre}}</span></a>
                </h4>
            </div>
            <br>
            <br>

            <div ng-repeat="post in userRatings | filter:search | filter:customFilterAudience"
                 class="aligned height repeated-item">
                <span ng-switch="" on="$index % 3">
                            <div class="row" ng-switch-when="0">
                                <div class="col-sm-4">
                                    <a target="_blank" ng-href="{{userRatings[(userRatings.indexOf(post))].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{userRatings[(userRatings.indexOf(post))].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 1}}. </b>{{userRatings[(userRatings.indexOf(post))].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{userRatings[(userRatings.indexOf(post))].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>
                                        {{userRatings[(userRatings.indexOf(post))].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4">
                                    <a target="_blank" ng-href="{{userRatings[(userRatings.indexOf(post) + 1)].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{userRatings[(userRatings.indexOf(post) + 1)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 2}}. </b>{{userRatings[(userRatings.indexOf(post) +
                                        1)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{userRatings[(userRatings.indexOf(post) + 1)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>
                                        {{userRatings[(userRatings.indexOf(post)
                                        + 1)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                                <div class="col-sm-4">
                                    <a target="_blank" ng-href="{{userRatings[(userRatings.indexOf(post) + 2) ].url}}"
                                       class="thumbnail"><img onerror="this.style.display='none';"
                                                              ng-src="{{userRatings[(userRatings.indexOf(post) + 2)].imgN}}"
                                                              alt=""></a>
                                    <h5 style="font-weight: 400"><b>{{$index + 3}}. </b>{{userRatings[(userRatings.indexOf(post) +
                                        2)].title}}
                                    </h5>
                                    <h4 style="font-weight: 200">{{userRatings[(userRatings.indexOf(post) + 2)].year}} - <i
                                            class="fa fa-star-o" style="color: orange"></i>
                                        {{userRatings[(userRatings.indexOf(post)
                                        + 2)].rating}}
                                    </h4>

                                    <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                     class="btn btn-danger"
                                                                                                     role="button"><span
                                            class="glyphicon glyphicon-facetime-video"
                                            aria-hidden="true"></span> Watch it!</a></p>
                                </div>
                            </div>
                    </span>
            </div>
        </div>
    </div>
</div>
</div>