<div ng-controller="ShuffleAllController">
    <div class="btn-group">
        <br>
        <button id="ulall" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            Genre <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu" style="text-align: center;">
            <li><a class="toClick" href="" role="button" ng-click="category='Any'; showAll=true;"> <b>Any</b></a>
            </li>
            <br>

            <div ng-repeat="post in allGenres">
                <li><a href="" ng-click="$parent.category=post.Genre; open(); shuffle()"> &nbsp;{{post.Genre}}</a>
                </li>
            </div>
        </ul>
    </div>

    <div ng-show="showAll || category!='Any'">
        <br>
        <h5>{{category}}</h5>
        <br>
        <br>
        Here's our pick for you:
        <br>
        <br>

        <div ng-repeat="post in filteredResults = (allMovies | filter:customFilter | limitTo: 1)" class="animated">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                            <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o" style="color: orange"></i>
                                {{post.rating}}{{post.userScore}}{{post.metaScore}}{{post.userRating}}</h4>
                            <a ng-href="{{post.url}}" target="_blank">
                                <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                                </button>
                            </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>
        <br>
        <button ng-click="shuffle()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
    </div>

</div>
