<div ng-controller="ShuffleMcController">
    <br>
    <div id="topMc" ng-repeat="post in mcGenres" style="display: inline-block;">
        <button type="radio" class="btn btn-default" ng-click="$parent.category=post.Genre">{{post.Genre}}</button>&nbsp;
    </div>
    <div ng-show="rat || category!='Any'">
        <br>
        <h5>Genre: {{category}}</h5>
        <br>
        <div class="form-group">
            <button type="radio" class="btn btn-default" ng-click="rating=true">Metascore</button>
            <button type="radio" class="btn btn-default" ng-click="rating=false">User score</button>
        </div>
    </div>

    <div ng-show="(showMeta || category!='Any') && rating !='null'">
        Here's our pick for you:
        <br> <br>

        <div ng-repeat="post in mcCriticRatings | filter:customFilter | limitTo: 1" ng-show="rating">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.userScore}}{{post.metaScore}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>

        <div ng-repeat="post in mcUserRatings | filter:customFilter | limitTo: 1" ng-show="!rating">
                        <span><img onerror="this.style.display='none';" style="width:100px; height:116px;"
                                   ng-src="{{post.imgN}}">
                        <h4>{{post.title}} - {{post.year}} - <i class="fa fa-star-o"
                                                                style="color: orange"></i>
                            {{post.userScore}}{{post.metaScore}}</h4>
                        <a ng-href="{{post.url}}" target="_blank">
                            <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i>
                            </button>
                        </a><a ng-href="{{post.urlN}}" target="_blank">
                                <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i>
                                </button>
                            </a>
                        </span>
        </div>
        <br>
        <button ng-click="shuffle()" class="btn btn-default"><i class="fa fa-refresh"></i></button>
    </div>

</div>