<body id="iBody" ng-controller="MainController">
<div class="container">
    <br>

    <div class="jumbotron jumboHeight">
        <h1 class="aligned">
            <img src="images/wio.png" style="height:100px; width:auto; margin-top: -20px;" alt=“” > What is on Netflix?
            <div style="margin-left: 5px !important;" class="fb-like" data-href="http://www.whatisonnetflix.com/"
                 data-layout="box_count"
                 data-action="like" data-show-faces="true" data-share="true"></div>
            <a class="twitter-share-button" href="https://twitter.com/share" data-related="twitterdev" data-size="large"
               data-count="none"></a>
            <a href="//www.pinterest.com/pin/create/button/?url=http%3A%2F%2Fimgur.com%2FOThvsjy&media=http%3A%2F%2Fi.imgur.com%2FOThvsjy.png&description=What%20is%20on%20Netflix%3F"
               data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red" data-pin-height="28"><img
                    src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png"/></a>
        </h1>
        <br>

        <p class="lead aligned">Find the best ranked movies on Metacritic, IMDB and Rotten Tomatoes streamable on
            Netflix.
            Updated every week.</p><br>

        <div class="aligned" id="test">
            <button style="margin-left: 5px !important; margin-top: 4px !important;" id="button1M"
                    ng-click="rtClicked = !rtClicked; imdbClicked = false; mcClicked = false; newMoviesClicked = false; randomSelectionClicked = false;"
                    type="button"
                    class="btn btn-primary btn-danger main-button"
                    ng-model="singleModel" btn-checkbox btn-checkbox-true="1"
                    btn-checkbox-false="0"><h4>Rotten Tomatoes</h4></button>
            &nbsp;
            <button style="margin-right: -1px !important; margin-top: 4px !important;" id="button2M"
                    ng-click="imdbClicked = !imdbClicked; rtClicked = false; mcClicked = false; newMoviesClicked=false; randomSelectionClicked = false;"
                    type="button"
                    class="btn btn-primary btn-warning main-button"
                    ng-model="singleModel" btn-checkbox btn-checkbox-true="1"
                    btn-checkbox-false="0"><h4>IMDB</h4></button>
            <button style="margin-left: 5px !important; margin-top: 4px !important;" id="button3M"
                    ng-click="mcClicked = !mcClicked; imdbClicked = false; rtClicked = false; newMoviesClicked=false; randomSelectionClicked = false;"
                    type="button"
                    class="btn btn-primary btn-success main-button"
                    ng-model="singleModel" btn-checkbox btn-checkbox-true="1"
                    btn-checkbox-false="0"><h4>Metacritic</h4></button>
            <br><br>
            <button style="margin-top: 4px !important;" id="button4M"
                    ng-click="newMoviesClicked = !newMoviesClicked; mcClicked = false; imdbClicked = false; rtClicked = false; randomSelectionClicked = false;"
                    type="button"
                    class="btn btn-default main-button"
                    ng-model="singleModel" btn-checkbox btn-checkbox-true="1"
                    btn-checkbox-false="0"><h4>New on Netflix</h4></button>

            <button style="margin-left: 5px !important; margin-top: 4px !important;" id="button5M"
                    ng-click="randomSelectionClicked = !randomSelectionClicked; mcClicked = false; imdbClicked = false; rtClicked = false; newMoviesClicked = false;"
                    type="button"
                    class="btn btn-info main-button"
                    ng-model="singleModel" btn-checkbox btn-checkbox-true="1"
                    btn-checkbox-false="0"><h4>Random Pick</h4></button>
            <br><br><br><br><br><br><br>

            <div ng-include="'views/partials/mentioned.html'"></div>
            <iframe src="https://ghbtns.com/github-btn.html?user=ltalhouarne&type=follow&count=true&size=small"
                    frameborder="0" scrolling="0" width="200" height="30px"></iframe>
        </div>
    </div>

    <div id="navigation" class="jumbotron" ng-show="rtClicked || imdbClicked || mcClicked || newMoviesClicked || randomSelectionClicked">
        <div id="metacritic" class="container aligned100 heighthv" ng-if="mcClicked && !imdbClicked && !rtClicked && !newMoviesClicked && !randomSelectionClicked"
             ng-include="'views/partials/mc.html'"></div>

        <div id="Rotten Tomatoes" class="container aligned100 heighthv"
             ng-if="rtClicked && !imdbClicked && !mcClicked && !newMoviesClicked && !randomSelectionClicked" ng-include="'views/partials/rt.html'"></div>

        <div id="imdb Container" class="container aligned100 heighthv"
             ng-if="imdbClicked && !mcClicked && !rtClicked && !newMoviesClicked && !randomSelectionClicked" ng-include="'views/partials/imdb.html'"></div>

        <div id="new Releases" class="container aligned100" ng-if="newMoviesClicked && !rtClicked && !mcClicked && !imdbClicked && !randomSelectionClicked"
             ng-include="'views/partials/releases.html'"></div>

        <div id="Random pick" class="container aligned100" ng-if="randomSelectionClicked && !rtClicked && !mcClicked && !imdbClicked && !newMoviesClicked"
             ng-include="'views/partials/random.html'"></div>
    </div>
</div>

<div id="footer">
    <i class="fa fa-university"></i> This website does not have any affiliation with IMDB, Metacritic, Netflix or
    Rotten
    Tomatoes.
    <br>
    <a href="mailto:whatisonnetflix@hotmail.com">Suggestions/Questions?</a>
</div>
</body>
