<div id="Rotten Tomatoes" class="container aligned100 heighthv" ng-show="link1 && !link2 && !link3 && !link4 && !link5"
     ng-controller="PostsCtrl2">
    <br>

    <div class="navbar-outer"
         style="max-width:700px; text-align: center; float:none; margin-left: auto; margin-right: auto">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2"
                            aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img style="width:50px; height:auto; text-align: center; margin-top:-10px;" src="css/rt.png">
                    </a>
                </div>
                <div id="navbar2" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Genre<span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu" style="text-align:center;">
                                <li><a class="toClick" href="" role="button" ng-click="category='Any'"> <b>Any</b></a>
                                </li>
                                <br>

                                <div ng-repeat="post in posts3">
                                    <li><a href="" ng-click="$parent.category=post.Genre; open()">
                                        &nbsp;{{post.Genre}}</a></li>
                                </div>
                            </ul>
                        </li>

                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="search" class="form-control smallW" ng-model="search"
                                   placeholder="Search title or year...">
                        </div>

                    </form>
                    <form class="navbar-form navbar-right" role="search">
                        <div class="form-group">
                            <button type="radio" class="btn btn-default" ng-click="rating=true">Tomatometer</button>
                            <button type="radio" class="btn btn-default" ng-click="rating=false">Audience</button>
                        </div>

                    </form>
                    <ul class="nav navbar-nav navbar-right">


                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="list-group">
        <div class="alignedDi">
            <h5>Genre: {{category}}</h5>
            <br>

            <div ng-repeat="post in posts | filter:search | filter:customFilter" class="aligned height repeated-item"
                 ng-show="rating">

                <span ng-switch="" on="$index % 3">
                            <div class="row" ng-switch-when="0">
                                <div class="col-sm-4">
                                    <div class="thumbnail" style="min-height:400px;height:400px;">
                                        <img ng-src="{{posts[($index+0)].imgN}}" alt="...">

                                        <div class="caption">
                                            <h5 style="font-weight: 400"><b>{{$index + 1}}. </b>{{posts[($index+0)].title}}
                                            </h5>
                                            <h4 style="font-weight: 200">{{posts[($index+0)].year}} - <i
                                                    class="fa fa-star-o" style="color: orange"></i>{{posts[($index+0)].rating}}
                                            </h4>

                                            <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                             class="btn btn-danger"
                                                                                                             role="button"><span
                                                    class="glyphicon glyphicon-facetime-video"
                                                    aria-hidden="true"></span> Watch it!</a></p>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail" style="min-height:400px;height:400px;">
                                        <img ng-src="{{posts[($index+1)].imgN}}" alt="...">

                                        <div class="caption">
                                            <h5 style="font-weight: 400"><b>{{$index + 2}}. </b>{{posts[($index+1)].title}}
                                            </h5>
                                            <h4 style="font-weight: 200">{{posts[($index+1)].year}} - <i
                                                    class="fa fa-star-o" style="color: orange"></i>{{posts[($index+1)].rating}}
                                            </h4>

                                            <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                             class="btn btn-danger"
                                                                                                             role="button"><span
                                                    class="glyphicon glyphicon-facetime-video"
                                                    aria-hidden="true"></span> Watch it!</a></p>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-sm-4">
                                    <div class="thumbnail" style="min-height:400px;height:400px;">
                                        <img ng-src="{{posts[($index+2)].imgN}}" alt="...">

                                        <div class="caption">
                                            <h5 style="font-weight: 400"><b>{{$index + 3}}. </b>{{posts[($index+2)].title}}
                                            </h5>
                                            <h4 style="font-weight: 200">{{posts[($index+2)].year}} - <i
                                                    class="fa fa-star-o" style="color: orange"></i>{{posts[($index+2)].rating}}
                                            </h4>

                                            <p><a href="#" class="btn btn-primary" role="button">Info</a> <a href="#"
                                                                                                             class="btn btn-danger"
                                                                                                             role="button"><span
                                                    class="glyphicon glyphicon-facetime-video"
                                                    aria-hidden="true"></span> Watch it!</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
          </span>
            </div>

            <div ng-repeat="post in posts2 | filter:search| filter:customFilter" class="aligned height repeated-item"
                 ng-show="!rating">
                <span value="{{post.genre}}" style="width:auto;" class="list-group-item posts2">
                <img onerror="this.style.display='none';" class="spec" ng-src="{{post.imgN}}">
                <h4>{{post.title}} <br> <span style="font-weight: 200; font-size:.8em;"> {{post.year}} - <i
                        class="fa fa-star-o"
                        style="color: orange"></i>
                    {{post.userRating}}</span></h4>
                <a ng-href="{{post.url}}" target="_blank">
                    <button class="btn btn-default btn-circle">&nbsp;<i class="fa fa-info fa-2">&nbsp; </i></button>
                </a><a ng-href="{{post.urlN}}" target="_blank">
                    <button class="btn btn-default btn-circle"><i class="fa fa-play-circle fa-2"></i></button>
                </a>
                </span>
            </div>
        </div>
    </div>
</div>